.inputWithLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .labelForm {
    // color: #7b87ae;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 14px;
  }

  .inputForm {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    
    background-color: transparent;
    // color: #dadae4;
    // border: 1px solid #171f38;
    color: #f0f0f0;
    border: 1px solid #252528;
    border-radius: 8px;

    font-size: 14px;

    &::placeholder {
      // color: #4a5576;
      color: #8a8a93;
    }

    &:hover, &:focus-visible {
      border-color: #dadae4;
    }
  }
}